html {
    font-family: Verdana;
}

*, *::before, *::after {
    box-sizing: border-box;
}




.nav-bar-list{
    justify-content: flex-end;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    
}

.nav-bar{
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    padding-right: 4.375rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 3.125rem;
    background-color: white;
}

.nav-bar__link{
   text-decoration: none;
}

.nav-bar__link:visited{
    text-decoration: none;
    color: black;
}

.nav-bar__title{
    justify-content: flex-start;
    align-self: flex-start;
    flex: 1;
    padding-left: 5rem;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    color: #335576;
    font-size: 1.25rem;
    font-weight:800
}

.nav-bar-title-link{
    color: #335576;
    text-decoration: none;
}

.nav-bar__location{
    width: 100;
    height: 100;
    padding-right: 1.25rem;
    list-style: none;
}

.footer-container{
    background-color: #FEFAF5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #335576;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.footer-title{
    font-size: 1.5rem;
}

.footer-sub{
    color: #DB7A4E;
    font-size: 0.75rem;
}

.contact-container{
    margin-left: 2.5rem;
}


.footer__saturday{
    margin-left: 5rem;
    margin-right: 10rem;
}

.footer__sunday{
    padding-right:4.375rem;
}

.footer-sub__text{
    margin-top: 0;
    padding-right: 3.75rem;
}

.footer__time{
    margin-left: 2.5rem;
}

.footer-anchor{
    text-decoration: none;
}

.footer-social-icon{
    height: auto;
}

.social-instagram-icon{
    width: 2.125rem;
}
.social-facebook-icon{
    width: 1.125rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}
.social-twitter-icon{
    width: 2.375rem;
}
