

.nav__home{  
    border-bottom: 0.188rem solid #DB7A4E;
    color: black;
    text-decoration: none;
}


.hero{
    background-color: #fefaf5;
    display: flex;
    padding-left: 5rem;
    padding-bottom: 6.25rem;
    padding-top: 3.125rem;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-right: 3.75rem;
    padding-top: 6.25rem;
}

.hero-title{
    text-align: left;
    color: #335576;
}

.hero-description{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.hero-button{
    background-color: #DB7A4e;
    color: white;
    min-width: 11.25rem;
    max-width: 80%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    font-size: 1.313rem;
    border: none;
    border-radius: 5rem;
}

.hero-image{
    width: 37%;
    height: auto;
    
}


.hero-description{
    text-align: left;
    color: #335576;
}

.recommendations{
    padding-bottom: 5rem;
}

.recommendations-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.recommendations-title{
    color: #335576;
    padding-left: 5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.recommendations-card{
    border-radius: 0.313rem;
    min-width: 18.75rem;
    max-width: 21.875rem;
    min-height: 27.5rem;
    max-height: 28.75rem;
    border: 0.063rem solid rgba(0,0,0,0.20);
    box-shadow: 0 4 4 rgba(0,0,0,0.20);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    position: relative;
}

.recommendations-card__template{
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    font-weight: bold;
    padding-bottom: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.5rem;
}

.recommendations-anchor{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.hawaii-card{
    background-image: url(/assets/Images/hawaii.jpg);

}

.iceland-card{
    background-image: url(/assets/Images/iceland.jpg);
    margin-right: 2.5rem;
    margin-left: 2.5rem;
} 

.greece-card{
    background-image: url(/assets/Images/greece.jpg);
}
